{% extends "base.html" %}

{% block title %}{{modelo.nombre}}{% endblock %}
{% block content %}
<form action="{{ url_for('marca', marca=modelo.marca.id) }}" method="GET">
	<button>Ir atrás</button>
</form>
<br>
<form action="" method="POST">
	<label>Matricula</label>
	<input type="text" name="matricula" required />
	<label>Propietario</label>
	<input type="text" name="propietario" value="{{party.name}}" readonly required />
	<label>Marca</label>
	<input type="hidden" name="marca" value="{{modelo.marca.id}}">
	<input type="text" type="text" name="marca" value="{{modelo.marca.nombre}}" readonly required/>
	<label>Modelo</label>
	<input type="hidden" name="modelo" value="{{modelo.id}}">
	<input type="text" name="modelo" value="{{modelo.nombre}}" readonly required />
	<label>Precio</label>
	<input type="number" name="precio" value="{{modelo.precio}}" />
	<label>Fecha de matriculación</label>
	<input type="date" name="fecha_matriculacion"/>
	<label>Fecha de baja</label>
	<input type="date" name="fecha_baja"/>
	<button type="submit">Comprar</button>
</form>
{% endblock %}