{% extends "base.html" %}

{% block title %}Marcas{% endblock %}

{% block content %}
{{super()}}
<h1>LAS MARCAS</h1>
{% if session %}
  {% if session['party'] %}
      <form action="{{ url_for('mis_coches') }}" method="GET">
        <button>Ver mis coches</button>
      </form>
  {% endif %}
  <form action="{{ url_for('crear_marca') }}" method="GET">
    <button>Crear marca</button>
  </form>
{% endif %}
{% for marca in marcas %}
  <p><a href="{{ url_for('marca', marca=marca) }}">{{ marca.nombre }}</a></p>
{% endfor %}

{% endblock %}
{% block footer %}
<p>Nuestras marcas</p>
{{ super() }}
{% endblock %}